body {
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    background-color: lightgrey;
}

#logo-container {
    display: flex;
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#logo {
    width: 175px;
    text-align: center;
}

#game-area {
    height: 532px;
    width: 475px;
    margin: 0 auto;
    background-color: black;
    border: 10px solid black;
    box-shadow: 10px 10px lightgrey;
    display: flex;
    flex-wrap: wrap;
}

.card {
    height: 128px;
    width: 90px;
    margin: 2.5px;
}